*{margin: 0; padding: 0}
h1,h2,h3,h4{font-family: 'Raleway', sans-serif;}
p{font-size: 16px; line-height:26px;}
header{background: url(../images/header-img.jpg) right top no-repeat #CF9B62; background-size: auto 100%; float: left; width: 100%; padding: 80px 0px}
header h1{font-size: 75px; font-weight: 800; color: #761216}
header h2{font-size: 30px; font-style:italic;font-weight: 600; color: #761216}
header h3{font-size: 21px; font-style:italic; color: #000;font-weight: 600; line-height: 28px}
header .socialmedia {
    background: #761216 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 30px;
    height: 50px;
    line-height: 50px;
    margin-right: 10px;
    text-align: center;
    width: 50px; margin-top: 15px
}
header .socialmedia:hover {background: #fff; color: #761216}
.headercontent{float: left; width: 70%; padding: 0 15px}
.yearsrexp{float: left; width: 100%;

  background: #eadbdc;
  background: -moz-linear-gradient(left, #eadbdc 0%, #eadbdc 50%, #f7f7f7 50%, #f7f7f7 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #eadbdc), color-stop(50%, #eadbdc), color-stop(50%, #f7f7f7), color-stop(100%, #f7f7f7));
  background: -webkit-linear-gradient(left, #eadbdc 0%, #eadbdc 50%, #f7f7f7 50%, #f7f7f7 100%);
  background: -o-linear-gradient(left, #eadbdc 0%, #eadbdc 50%, #f7f7f7 50%, #f7f7f7 100%);
  background: -ms-linear-gradient(left, #eadbdc 0%, #eadbdc 50%, #f7f7f7 50%, #f7f7f7 100%);
  background: linear-gradient(to right, #eadbdc 0%, #eadbdc 50%, #f7f7f7 50%, #f7f7f7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eadbdc', endColorstr='#f7f7f7', GradientType=1 );


}
.yearsrexp.alternate{float: left; width: 100%;

background: #f7f7f7;
background: -moz-linear-gradient(left, #f7f7f7 0%, #f7f7f7 50%, #eadbdc 50%, #eadbdc 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, #f7f7f7), color-stop(50%, #f7f7f7), color-stop(50%, #eadbdc), color-stop(100%, #eadbdc));
background: -webkit-linear-gradient(left, #f7f7f7 0%, #f7f7f7 50%, #eadbdc 50%, #eadbdc 100%);
background: -o-linear-gradient(left, #f7f7f7 0%, #f7f7f7 50%, #eadbdc 50%, #eadbdc 100%);
background: -ms-linear-gradient(left, #f7f7f7 0%, #f7f7f7 50%, #eadbdc 50%, #eadbdc 100%);
background: linear-gradient(to right, #f7f7f7 0%, #f7f7f7 50%, #eadbdc 50%, #eadbdc 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#eadbdc', GradientType=1 );

}
.yearsrexp .anglebg{background:url(../images/yearsbg.jpg) center top no-repeat; background-size: auto 100%;}
.yearsrexp.alternate .anglebg{background:url(../images/yearsbg-right.jpg) center top no-repeat ; background-size: auto 100%;}

.yearsrexp .yearsblock{padding: 20px 15px; width: 50%; float: left; box-sizing: border-box;}
.yearsrexp .yearsblock.leftblock{padding-right: 5%}
.yearsrexp .yearsblock.rightblock{padding-left: 5%}
.yearsrexp .years.redtxt{color: #761216}
.yearsrexp .years{float: right; text-align: right; opacity: 0.2; color: #000; padding-top: 20px; margin-bottom: 20px}
.yearsrexp .intheyear{font-size: 21px; text-transform: uppercase; font-weight: 900}
.yearsrexp .yearno{font-size: 100px;; font-weight: 900; line-height: 80px}
.yearsrexp p{float: left; width: 100%; }

.riderspanel{background:url(../images/block-img_v1.jpg) right center no-repeat #761216; background-size: 50% auto ; float: left; width: 100%; }
.riderspanel .content{background: #761216;padding-top: 40px; padding-bottom: 40px; padding-right: 30px;background: #761216;}
.riderspanel p{ color: #fff}
.hightlights{padding: 50px 0; float: left; width: 100%; }
.hightlights .block{text-align: center; margin: 30px 0 10px}
.hightlights .block h3{text-transform: uppercase; font-size: 21px; color: #761216; font-weight: 800}
.hightlights .block p{ line-height: 30px}
.blogpanel{float: left; width: 100%;background:url(../images/blogbg.jpg) right top no-repeat; background-size: cover; padding: 50px 0}
.blogpanel .blog img{float: left; width: 100%; margin-bottom: 15px}
.blogpanel .blog .date{font-size: 12px; font-style: italic; margin: 0;font-weight: 800; margin-bottom: 5px}
.blogpanel .blog h3{font-size: 21px; color: #761216; font-weight: 800; float: left; width: 100%; margin-top: 0}
.blogpanel .blog p{ float: left; width: 100%}
.blogpanel h2{font-size: 35px; color: #761216; font-weight: 800;  text-align: center; text-transform: uppercase;; margin-bottom: 40px}
.blogpanel .blog p a{font-weight: 800; font-style: italic;}
footer{background: #000; text-align: center; color: #fff; padding: 20px 0; float: left; width: 100%}
@media (min-width: 1800px) {
  .container {
    width: 1740px;
  }
}
@media (max-width: 1799px) {
  .yearsrexp .col-sm-6 {
    padding: 0 10px;
}
  .yearsrexp .rightcorner, .yearsrexp .leftredbg{padding-right: 15%; }
  header{padding: 20px 0 }
  .riderspanel{background-size: auto 100%}
  .container {
    width: 100%;
  }
}
@media (max-width: 1199px) {

  .riderspanel{background-image: none}

  .yearsrexp .yearsblock.leftblock{padding-right: 8%}
  .yearsrexp .yearsblock.rightblock{padding-left: 8%}
}
@media (max-width: 991px) {
  .yearsrexp .yearno{font-size: 80px; line-height:68px}


  header h1{font-size: 52px}
  header h2{font-size: 24px}
  header h3{font-size: 20px; line-height: 26px}
  .blogpanel h2{font-size: 34px}
  .blogpanel .blog{margin: 15px 0; float: left; width: 100%}
  header .socialmedia {
      font-size: 22px;
    height: 38px;
    line-height: 38px;
    margin-right: 2px;
    margin-top: 5px;

    width: 38px;
}
.yearsrexp .yearsblock{width: 100%}
.yearsrexp .yearsblock.leftblock{padding: 15px 30px; background: #EADBDC}
.yearsrexp .yearsblock.rightblock{padding: 15px 30px; background: #f7f7f7}
.yearsrexp .anglebg, .yearsrexp.alternate .anglebg{background:none; padding: 0}
header h3 {
    font-size: 18px;
    line-height: 24px;
}
header h2 {
    font-size: 21px;
}
header h1 {
    font-size: 45px;
}
}
@media (max-width: 767px) {
header{background-image: none}
.headercontent{width: 100%}
}
